
<ion-content>

  <div id="header"></div>


  <div id="product-image"></div>

  <div id="product-info">

    <h1 id="product-title"></h1>

    <p id="product-description"></p>

    <div id="price">
      <h2>Cor:</h2>
    </div>

    <div id="color">
      <h2>Tamanho:</h2>
    </div>

    <!-- sizes: buttons? -->

  </div>

  <ion-button>Adicionar ao Cesto</ion-button>

  <p id="reserva-text"></p>

  <ion-button>Reservar</ion-button>

  <hr />

  <h1>Classificações</h1>

  <!-- Estrelas -->

  <h3> 0 / 5 </h3>

  <p>Ainda não existe nenhuma classificação.</p>

  <ion-button>Classificar</ion-button>





</ion-content>
