


<ion-content [fullscreen]="true">

    <ion-title class="login">Login</ion-title>

    <hr/>

    <p class="email">Email</p>
    <ion-input class="email-input"></ion-input>

    <p class="password">Password</p>
    <ion-input class="password-input"></ion-input>

    <p class="forget-password"><u>Esqueceste-te da password?</u></p>


    <div style="text-align: center;">
        <ion-button class="button" color="lightgrey" routerLink="/conta" routerDirection="forward" style="margin-top: 5%;">
            <p>Entrar</p>
        </ion-button>
    </div>

    <hr/>

    <div style="text-align: center;">
        <ion-button class="button" color="lightgrey" routerLink="/criar-conta" routerDirection="forward">
            <p>Criar Conta</p> 
        </ion-button>
    </div>


</ion-content>
