// header 

.login-title {
    text-align: left;
    margin-top: 10%;
    margin-left: 10%;

    font-family: 'Solway-Bold';
    font-size: 16pt;
    color: #363636;
}


// content

.hr-login {
    display: block;
    width: 80%;
    border-radius: 5px;
    border-top: 4px solid #F4ECE4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.email {
    // body
    text-align: left;
    margin-left: 18%;

    // font
    font-family: 'Nunito-Bold';
    font-size: 12pt;
    color: #363636;
}

.password {
    // body
    text-align: left;
    margin-top: 8%;
    margin-left: 18%;

    // font
    font-family: 'Nunito-Bold';
    font-size: 12pt;
    color: #363636;
}

.email-input {

    // body
    --background: #F3E8DE;
    --border-color: #F3E8DE;
    --border-width:10pt;
    width: 75%;
    border-radius: 10pt;
    text-align: left;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nunito-Bold';
}

.password-input {

    // body
    --background: #F3E8DE;
    --border-color: #F3E8DE;
    --border-width:10pt;
    width: 75%;
    border-radius: 10pt;
    text-align: left;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
        font-family: 'Nunito-Bold';
}

.forget-password {
    text-align: right;
    margin-top: 4%;
    margin-right: 14%;

    font-family: 'Nunito-Regular';
    font-size: 10pt;
    color: #676767;
    
}

.login-button {
    font-family: 'Nunito-SemiBold';
    font-size: 10pt;
    --border-radius: 10pt;
    --ripple-color: transparent;
}

.create-account {
    text-align: center;
    margin-top: 10%;
    font-size: 12pt;
    color: #363636;
}


// pagina 2


// header

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6% 0;
}


#header-title {
    font-family: 'Solway-Bold' !important;
    font-size: 20px;
    color: #363636;
    margin-left: 10%;
    margin-right: 10%;
}

#logout-button {
    --background: transparent;
    color: #363636;
    font-size: 20px;
    --box-shadow: none;
    margin-top: 0%;
    --ripple-color:transparent;
    
}

ion-title {
    text-align: left;
    font-family: 'Solway-Bold' !important;
    font-size: 20pt;
    color: #363636;
}


.hr-profile {
    display: block;
    width: 80%;
    border-radius: 5px;
    border-top: 4px solid #F4ECE4;
    margin-left: auto;
    margin-right: auto;
}


// body

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    --border-radius: 10px;
    --box-shadow: none;
    --ripple-effect: transparent;
    gap: 20px;
    margin: auto;
    width: 70%;
    margin-top: 10%;
}

.button-title {
    font-family: 'Nunito-Bold';
    font-size: 16px;
    color:#363636;
}
