<ion-header class="ion-no-border">
    <ion-title class="categorias">Login</ion-title>
</ion-header>


<ion-content [fullscreen]="true">

    <hr/>

    <p class="email">Email</p>
    <ion-input class="email-input"></ion-input>

    <p class="password">Password</p>
    <ion-input class="password-input"></ion-input>

    <p class="forget-password">Esqueceste-te da password?</p>


    <ion-button class="login-button">
        <p class="login">Entrar</p>
    </ion-button>

    <hr/>

    <ion-button class="register-button">
        <p class="login">Criar Conta</p> 
    </ion-button>

</ion-content>
