
<ion-content [fullscreen]="true">

    <div id="login">

        <ion-title class="login-title">Login</ion-title>

        <hr class="hr-login" />

        <p class="email">Email</p>
        <ion-input class="input" [(ngModel)]="email"></ion-input>
    
        <p class="password">Password</p>
        <ion-input type="password" class="input" [(ngModel)]="password"></ion-input>
    
        <p class="forget-password"><u>Esqueceste-te da password?</u></p>
    
    
        <div style="text-align: center; width: 80%; margin:auto; margin-top: 10%;">
            <ion-button class="login-button" color="lightgrey" style="margin-top: 5%;"
                        (click)="validateAccount(email, password)">
                <p>Entrar</p>
            </ion-button>
        </div>
    
        <hr class="hr-login" />
    
        <div style="text-align: center; width: 80%; margin:auto">

            <ion-title class="create-account">
                Ainda não tens conta? 
            </ion-title>

            <ion-button class="login-button" color="lightgrey" routerLink="/criar-conta" routerDirection="forward">
                <p>Criar Conta</p> 
            </ion-button>
        </div>

    </div>


    <div id="profile" style="display: none;">

        <div id="header">
        
            <ion-title id="header-title" >
                Aluno EI
            </ion-title>

            <ion-alert-controller></ion-alert-controller>
            <ion-button id="logout-button">
                <ion-icon name="exit-outline"></ion-icon>
            </ion-button>

        </div>

        <hr class="hr-profile" />

        <div id="buttons">

            <ion-button class="button" color="pastelbeige">
            <ion-label>
                <h1 class="button-title" routerLink="/conta">
                    Conta
                </h1>
            </ion-label>
            </ion-button>
            
            <ion-button class="button" color="pastelbeige">
            <ion-label>
                <h1 class="button-title" routerLink="/seguranca">
                    Segurança
                </h1>
            </ion-label>
            </ion-button>
        
            <ion-button class="button" color="pastelbeige">
            <ion-label>
                <h1 class="button-title" routerLink="/encomendas">
                    Encomendas
                </h1>
            </ion-label>
            </ion-button>
        
            <ion-button class="button" color="pastelbeige">
            <ion-label>
                <h1 class="button-title">
                    Devoluções
                </h1>
            </ion-label>
            </ion-button>
        
            <ion-button class="button" color="pastelbeige">
            <ion-label>
                <h1 class="button-title" routerLink="/ajuda">
                    Ajuda
                </h1>
            </ion-label>
            </ion-button>
        
            <ion-button class="button" color="pastelbeige">
            <ion-label>
                <h1 class="button-title">
                    Definições
                </h1>
            </ion-label>
            </ion-button>
        </div>
  
  
    </div>


</ion-content>

<script type="module">
    
    import { alertController } from 'https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/index.esm.js';
    window.alertController = alertController;


    const button = document.querySelector('logout-button');
    button.addEventListener('click', handleButtonClick);

    async function handleButtonClick() {
        const alert = await alertController.create({
          header: 'Sair da Conta?',
          message: 'Desejas mesmo sair da conta?',
          buttons: ['Não', 'Sim'],
        });

        await alert.present();
      }

</script>
