
<ion-content>

  <div id="header">

    <div id="header-title">
      <button id="back-button" onclick="history.back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </button>
  
      <ion-title id="novidades" >
        Bebé
      </ion-title>
    </div>


    <p class="header-description">
      Novas adições à nossa coleção.
    </p>

    <hr/>

    <ion-buttons>
      <ion-button>
        <ion-icon name="funnel-outline"></ion-icon>
        <p class="header-description">Filtro</p>
      </ion-button>
      <ion-button>
        <ion-icon name="filter-outline"></ion-icon>
        <p class="header-description">Ordenar</p>
      </ion-button>
    </ion-buttons>
  </div>


  <div class="container">
    <ng-container *ngFor="let product of dataProducts | keyvalue">
      <ng-container *ngIf="product.value.age === 'baby' || product.value.age === 'newborn&baby' || product.value.age == 'all'">
        
        <div class="container-content">
        
          <ion-card>
            <img src="{{ product.value.image }}" />
          </ion-card>
          
          <div class="item-box">
            <h3 class="item-name">{{ product.value.name }}</h3>
            <p class="item-description">{{ product.value.color }}</p>
            <p class="item-description">{{ product.value.price }} €</p>
          </div>

        </div>
        
      </ng-container>  
    </ng-container>
  </div>



</ion-content>
