
<ion-content>

  <div id="header">

    <div id="header-title">
      <button id="back-button" onclick="history.back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </button>
  
      <ion-title id="novidades" >
        Bebé
      </ion-title>
    </div>


    <p class="header-description">
      Tudo para o pequeno membro da família.
    </p>

    <hr/>
    
  </div>


  <div class="container">
    <ng-container *ngFor="let product of dataProducts | keyvalue">
      <ng-container *ngIf="product.value.age === 'baby' || product.value.age === 'newborn&baby' || product.value.age == 'all'">
        
        <div class="container-content" (click)="verProduto(product.key)">
        
          <ion-card>
            <img src="{{ product.value.image }}" />
          </ion-card>
          
          <div class="item-box">
            <h3 class="item-name">{{ product.value.name }}</h3>
            <p class="item-description">{{ product.value.color }}</p>
            <p class="item-description">{{ product.value.price }} €</p>
          </div>

        </div>
        
      </ng-container>  
    </ng-container>
  </div>

  <ion-fab slot="fixed">
    <ion-fab-button>
      <ion-icon name="options-outline"></ion-icon>
    </ion-fab-button>

  </ion-fab>

</ion-content>
