
<ion-content>

  <div id="header">

    <h1 id="confirmacao-pagamento">Confirmação Pagamento</h1>
  
  </div>

  <hr/>

  <div class="flex">
    <h3>Subtotal</h3>
    <h3 class="bold">20.00 €</h3>
  </div>

  <div class="flex">
    <h3>Custos de Envio</h3>
    <h3 class="bold">3.50 €</h3>
  </div>

  <div class="flex">
    <h2>Total</h2>
    <h2>23.50 €</h2>
  </div>

  <hr/>

  <div class="container">
    <h2>Entrega:</h2>

    <h2>Casa</h2>

    <div style="margin: 20px 0;">
      <p><strong>Nome:</strong> Aluno EI</p>
      <p><strong>Contacto:</strong> 001 002 003</p>
      <p><strong>Rua:</strong> Rua X, 1</p>
      <p><strong>Cidade:</strong> Viana do Castelo</p>
      <p><strong>Código Postal:</strong> 4900-001</p>
      <p><strong>País:</strong> Portugal</p>
    </div>

    <h2>Método de Pagamento:</h2>

    <p>Cartão de Crédito</p>

  </div>

  <hr>

  <div style="text-align: center; margin: 10px 0;">
    <img src="assets/icon/heart.png" height="150px" style="margin: auto;"/>

    <h1 class="title">Obrigado pela encomenda!</h1>

    <p>Poderás consultar a informação sobre as encomendas em:</p>

    <div style="display: flex; justify-content: center; align-items: center; gap: 5px">
      <ion-icon name="person-outline"></ion-icon>
      <h3> > </h3>
      <h3><u>Encomendas</u></h3>
    </div>
  </div>

  <div style="text-align: center; ">
    <ion-button class="general-button" routerLink="/tabs">Página Principal</ion-button>
  </div>
  
  
  


</ion-content>
