// header

#header {
    margin-top: 8%;
    text-align: center;
}

#favoritos {
    font-family: 'Solway-Medium';
    font-size: 18pt;
    color: #363636;
}


hr {
    display: block;
    width: 80%;
    border-radius: 5px;
    border-top: 4px solid #F4ECE4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}