
ion-tab-bar {
    --ion-background-color: #F4ECE4;
    height: 8%;
    //border-top-left-radius: 20px;
    //border-top-right-radius: 20px;
    
}

ion-icon {
    height: 19pt;
    width: 19pt;
    
}

ion-tab-button[aria-selected=true] {
    color: rgb(46, 41, 31);
    --ionicon-stroke-width: 35;

 }