ion-title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Solway-Bold' !important;
    font-size: 20pt;
    color: #363636;
}

ion-accordion {

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    --ion-background-color: white;
    width: 60%;
    border-radius: 10px;

}

ion-list {
    --ion-background-color: white
}


.header-button {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50px;
    --border-radius: 10px;
    --box-shadow: none;
    --ripple-color: transparent;
    
}

h1 {

    font-family: 'Nunito-Bold';
    font-size: 16px;
    color:#363636;
    
}


p {
    text-align: left;
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 14px;
    color: #363636;
}

h3 {
    text-align: center;
    
}
