
<ion-content [fullscreen]="true">

    <ion-title>
        Categorias
    </ion-title>


    <ion-accordion-group >
        <ion-accordion value="colors" >
          
          <ion-button slot="header" class="header-button" color="pastelbeige">
            <ion-label>
                <h1>
                    Novidades 
                </h1>
            </ion-label>
        </ion-button>

        </ion-accordion>
    </ion-accordion-group>

    
    <ion-accordion-group>
        <ion-accordion value="colors">
          <ion-button slot="header" class="header-button" color="pastelbeige">
            <ion-label>
                <h1>
                    Promoções
                </h1>
            </ion-label>
        </ion-button>
        </ion-accordion>
    </ion-accordion-group>

    <ion-accordion-group>

        <ion-accordion value="colors">
            <ion-button slot="header" class="header-button" color="pastelbeige">
                <ion-label>
                    <h1>
                        Recém-Nascido 
                    </h1>
                </ion-label>
            </ion-button>


          <ion-list slot="content">
            <ion-item lines="none">
                <p>Conjuntos | Macacões</p>
            </ion-item>

            <ion-item lines="none">
                <p>Camisolas</p>
            </ion-item>
            
            <ion-item lines="none">
                <p>Vestidos | Saias</p>
            </ion-item>

            <ion-item lines="none">
                <p>Calças | Calções | Leggings</p>
            </ion-item>

            <ion-item lines="none">
                <p>Casacos</p>
            </ion-item>

            <ion-item lines="none">
                <p>Sapatos</p>
            </ion-item>

            <ion-item lines="none">
                <p>Bodies | Babygrows</p>
            </ion-item>

            <ion-item lines="none">
                <p>Roupa Interior</p>
            </ion-item>

            <ion-item lines="none">
                <p>Roupa de Banho</p>
            </ion-item>

            <ion-item lines="none">
                <p>Acessórios</p>
            </ion-item>

            <ion-item lines="none">
                <p>Pijamas</p>
            </ion-item>

            <ion-item lines="none">
                <p style="font-weight: 700;">Ver Tudo</p>
            </ion-item>


          </ion-list>
        </ion-accordion>
    </ion-accordion-group>

    <ion-accordion-group>

        <ion-accordion value="colors">
            <ion-button slot="header" class="header-button" color="pastelbeige">
                <ion-label>
                    <h1>
                        Bebé 
                    </h1>
                </ion-label>
            </ion-button>


          <ion-list slot="content">
            <ion-item lines="none">
                <p>Conjuntos | Macacões</p>
            </ion-item>

            <ion-item lines="none">
                <p>Camisolas</p>
            </ion-item>
            
            <ion-item lines="none">
                <p>Vestidos | Saias</p>
            </ion-item>

            <ion-item lines="none">
                <p>Calças | Calções | Leggings</p>
            </ion-item>

            <ion-item lines="none">
                <p>Casacos</p>
            </ion-item>

            <ion-item lines="none">
                <p>Sapatos</p>
            </ion-item>

            <ion-item lines="none">
                <p>Bodies | Babygrows</p>
            </ion-item>

            <ion-item lines="none">
                <p>Roupa Interior</p>
            </ion-item>

            <ion-item lines="none">
                <p>Roupa de Banho</p>
            </ion-item>

            <ion-item lines="none">
                <p>Acessórios</p>
            </ion-item>

            <ion-item lines="none">
                <p>Pijamas</p>
            </ion-item>

            <ion-item lines="none">
                <p style="font-weight: 700;">Ver Tudo</p>
            </ion-item>


          </ion-list>
        </ion-accordion>
    </ion-accordion-group>

    <ion-accordion-group>

        <ion-accordion value="colors">

            <ion-button slot="header" class="header-button" color="pastelbeige">
                <ion-label>
                    <h1>
                        Criança 
                    </h1>
                </ion-label>
            </ion-button>


          <ion-list slot="content">

            <ion-item lines="none">
                <p>Conjuntos | Macacões</p>
            </ion-item>

            <ion-item lines="none">
                <p>Camisolas</p>
            </ion-item>
            
            <ion-item lines="none">
                <p>Vestidos | Saias</p>
            </ion-item>

            <ion-item lines="none">
                <p>Calças | Calções | Leggings</p>
            </ion-item>

            <ion-item lines="none">
                <p>Casacos</p>
            </ion-item>

            <ion-item lines="none">
                <p>Sapatos</p>
            </ion-item>

            <ion-item lines="none">
                <p>Sweaters | Hoodies</p>
            </ion-item>

            <ion-item lines="none">
                <p>Roupa Interior</p>
            </ion-item>

            <ion-item lines="none">
                <p>Roupa de Banho</p>
            </ion-item>

            <ion-item lines="none">
                <p>Acessórios</p>
            </ion-item>

            <ion-item lines="none">
                <p>Pijamas</p>
            </ion-item>

            <ion-item lines="none">
                <p style="font-weight: 700;">Ver Tudo</p>
            </ion-item>


          </ion-list>
        </ion-accordion>
    </ion-accordion-group>

    <ion-accordion-group>

        <ion-accordion value="colors">

            <ion-button slot="header" class="header-button" color="pastelbeige">
                <ion-label>
                    <h1>
                        Mãe  
                    </h1>
                </ion-label>
            </ion-button>


          <ion-list slot="content">

            <ion-item lines="none">
                <p>Gravidez</p>
            </ion-item>

            <ion-item lines="none">
                <p>Maternidade</p>
            </ion-item>
            
            <ion-item lines="none">
                <p>Pós-Parto</p>
            </ion-item>

            <ion-item lines="none">
                <p>Amamentação</p>
            </ion-item>

            <ion-item lines="none">
                <p>Cuidados de Pele</p>
            </ion-item>

            <ion-item lines="none">
                <p>Slings</p>
            </ion-item>

            <ion-item lines="none">
                <p style="font-weight: 700;">Ver Tudo</p>
            </ion-item>


          </ion-list>
        </ion-accordion>
    </ion-accordion-group>

    <ion-accordion-group>

        <ion-accordion value="colors">

        <ion-button slot="header" class="header-button" color="pastelbeige">
            <ion-label>
                <h1>
                    Cuidados   
                </h1>
            </ion-label>
        </ion-button>


          <ion-list slot="content">

            <ion-item lines="none">
                <p style="font-weight: 700;">Banho</p>
            </ion-item>

            <ion-item lines="none">
                <p>Banheiras para Bebés</p>
            </ion-item>

            <ion-item lines="none">
                <p>Toalhas | Mantas</p>
            </ion-item>
            
            <ion-item lines="none">
                <p>Roupa Pós-Parto</p>
            </ion-item>

            <ion-item lines="none">
                <p>Brinquedos para Banho</p>
            </ion-item>

            <ion-item lines="none">
                <p>Acessórios para Banho</p>
            </ion-item>

            <ion-item lines="none">
                <p>Bancos | Potes</p>
            </ion-item>

            <ion-item lines="none">
                <p style="font-weight: 700;">Cuidados de Saúde e Pele</p>
            </ion-item>

            <ion-item lines="none">
                <p>Cuidados de Pele Naturais</p>
            </ion-item>

            <ion-item lines="none">
                <p>Acessórios de Cuidados</p>
            </ion-item>

            <ion-item lines="none">
                <p>Remédios para Dentição</p>
            </ion-item>

            <ion-item lines="none">
                <p style="font-weight: 700;">Fraldas</p>
            </ion-item>

            <ion-item lines="none">
                <p>Fraldas Reutilizáveis</p>
            </ion-item>

            <ion-item lines="none">
                <p>Acessórios para Fraldas</p>
            </ion-item>

            <ion-item lines="none">
                <p>Packs de Fraldas</p>
            </ion-item>
            
            <ion-item lines="none">
                <p>Lavandaria</p>
            </ion-item>

            <ion-item lines="none">
                <p style="font-weight: 700;">Alimentação</p>
            </ion-item>

            <ion-item lines="none">
                <p>Biberões | Tetinas</p>
            </ion-item>

            <ion-item lines="none">
                <p>Chupetas</p>
            </ion-item>

            <ion-item lines="none">
                <p>Comida | Fórmulas</p>
            </ion-item>
            
            <ion-item lines="none">
                <p>Cadeiras Altas</p>
            </ion-item>

            <ion-item lines="none">
                <p>Babetes</p>
            </ion-item>

            <ion-item lines="none">
                <p>Pratos | Talheres</p>
            </ion-item>

            <ion-item lines="none">
                <p style="font-weight: 700;">Ver Tudo</p>
            </ion-item>

          </ion-list>
        </ion-accordion>
    </ion-accordion-group>

    <ion-accordion-group>

        <ion-accordion value="colors">

        <ion-button slot="header" class="header-button" color="pastelbeige">
            <ion-label>
                <h1>
                    Brinquedos   
                </h1>
            </ion-label>
        </ion-button>


          <ion-list slot="content">

            <ion-item lines="none">
                <p>Brinquedos</p>
            </ion-item>

            <ion-item lines="none">
                <p>Livros</p>
            </ion-item>

            <ion-item lines="none">
                <p>Bonecas | Peluches | Doudous</p>
            </ion-item>
            
            <ion-item lines="none">
                <p>Puzzles | Jogos</p>
            </ion-item>

            <ion-item lines="none">
                <p>Trabalhos Manuais</p>
            </ion-item>

            <ion-item lines="none">
                <p>Música</p>
            </ion-item>

            <ion-item lines="none">
                <p>Ginásios | Tapetes de Atividades</p>
            </ion-item>

            <ion-item lines="none">
                <p>Praia</p>
            </ion-item>

            <ion-item lines="none">
                <p style="font-weight: 700;">Ver Tudo</p>
            </ion-item>

          </ion-list>
        </ion-accordion>
    </ion-accordion-group>

    <ion-accordion-group>
        <ion-accordion value="colors">

            <ion-button slot="header" class="header-button" color="pastelbeige">
                <ion-label>
                    <h1>
                        Casa     
                    </h1>
                </ion-label>
            </ion-button>


          <ion-list slot="content">
            <ion-item lines="none">
                <ion-label>
                    <p>Red</p>
                </ion-label>
            </ion-item>

            <ion-item lines="none">
                <ion-label>
                    <p>Green</p>
                </ion-label>
            </ion-item>
            
            <ion-item lines="none">
                <ion-label>
                    <p>Blue</p>
                </ion-label>
            </ion-item>

          </ion-list>
        </ion-accordion>
    </ion-accordion-group>



</ion-content>
