
<ion-content [fullscreen]="true">

    <ion-title>
        Categorias
    </ion-title>

    <ion-accordion-group>
        <ion-accordion value="colors">
          <ion-item slot="header" class="header" >

            <ion-label style="margin-top: 12%;">
                <h1>
                    Novidades
                </h1>
            </ion-label>

            

          </ion-item>

          <ion-list slot="content">
            <ion-item>
                <ion-label>
                    <p>Red</p>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label>
                    <p>Green</p>
                </ion-label>
            </ion-item>
            
            <ion-item>
                <ion-label>
                    <p>Blue</p>
                </ion-label>
            </ion-item>

          </ion-list>
        </ion-accordion>
    </ion-accordion-group>

    
    <ion-accordion-group>

        <ion-accordion value="colors">
          <ion-item slot="header" class="header">
            <ion-label style="margin-top: 12%;">
                <h1>
                    Promoções 
                </h1>
            </ion-label>
          </ion-item>


          <ion-list slot="content">
            <ion-item>
                <ion-label>
                    <p>Red</p>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label>
                    <p>Green</p>
                </ion-label>
            </ion-item>
            
            <ion-item>
                <ion-label>
                    <p>Blue</p>
                </ion-label>
            </ion-item>

          </ion-list>
        </ion-accordion>
    </ion-accordion-group>

    <ion-accordion-group>

        <ion-accordion value="colors">
          <ion-item slot="header" class="header">
            <ion-label style="margin-top: 12%;">
                <h1>
                    Recém-Nascido 
                </h1>
            </ion-label>
          </ion-item>


          <ion-list slot="content">
            <ion-item>
                <ion-label>
                    <p>Red</p>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label>
                    <p>Green</p>
                </ion-label>
            </ion-item>
            
            <ion-item>
                <ion-label>
                    <p>Blue</p>
                </ion-label>
            </ion-item>

          </ion-list>
        </ion-accordion>
    </ion-accordion-group>

    <ion-accordion-group>

        <ion-accordion value="colors">
          <ion-item slot="header" class="header">
            <ion-label style="margin-top: 12%;">
                <h1>
                    Criança 
                </h1>
            </ion-label>
          </ion-item>


          <ion-list slot="content">
            <ion-item>
                <ion-label>
                    <p>Red</p>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label>
                    <p>Green</p>
                </ion-label>
            </ion-item>
            
            <ion-item>
                <ion-label>
                    <p>Blue</p>
                </ion-label>
            </ion-item>

          </ion-list>
        </ion-accordion>
    </ion-accordion-group>

    <ion-accordion-group>

        <ion-accordion value="colors">
          <ion-item slot="header" class="header">
            <ion-label style="margin-top: 12%;">
                <h1>
                    Mãe   
                </h1>
            </ion-label>
          </ion-item>


          <ion-list slot="content">
            <ion-item>
                <ion-label>
                    <p>Red</p>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label>
                    <p>Green</p>
                </ion-label>
            </ion-item>
            
            <ion-item>
                <ion-label>
                    <p>Blue</p>
                </ion-label>
            </ion-item>

          </ion-list>
        </ion-accordion>
    </ion-accordion-group>

    <ion-accordion-group>

        <ion-accordion value="colors">
          <ion-item slot="header" class="header">
            <ion-label style="margin-top: 12%;">
                <h1>
                    Cuidados  
                </h1>
            </ion-label>
        </ion-item>


          <ion-list slot="content">
            <ion-item>
                <ion-label>
                    <p>Red</p>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label>
                    <p>Green</p>
                </ion-label>
            </ion-item>
            
            <ion-item>
                <ion-label>
                    <p>Blue</p>
                </ion-label>
            </ion-item>

          </ion-list>
        </ion-accordion>
    </ion-accordion-group>

    <ion-accordion-group>

        <ion-accordion value="colors">
          <ion-item slot="header" class="header">
            <ion-label style="margin-top: 12%;">
                <h1>
                    Brinquedos   
                </h1>
            </ion-label>
          </ion-item>


          <ion-list slot="content">
            <ion-item>
                <ion-label>
                    <p>Red</p>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label>
                    <p>Green</p>
                </ion-label>
            </ion-item>
            
            <ion-item>
                <ion-label>
                    <p>Blue</p>
                </ion-label>
            </ion-item>

          </ion-list>
        </ion-accordion>
    </ion-accordion-group>

    <ion-accordion-group>
        <ion-accordion value="colors">
          <ion-item slot="header" class="header"> 
            <ion-label style="margin-top: 12%;">
                <h1>
                    Casa   
                </h1>
            </ion-label>
        </ion-item>


          <ion-list slot="content">
            <ion-item>
                <ion-label>
                    <p>Red</p>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label>
                    <p>Green</p>
                </ion-label>
            </ion-item>
            
            <ion-item>
                <ion-label>
                    <p>Blue</p>
                </ion-label>
            </ion-item>

          </ion-list>
        </ion-accordion>
    </ion-accordion-group>



</ion-content>
