// header

.header {
    --ion-background-color: #F4ECE4;
}


.search {
    left: 5%;
	margin-top: 4%;
	width: 145pt;
}

ion-toolbar {
    height: 115%;
    
}


.logo {
    margin-top: 2%;
    margin-left: 4%;
    
}

  // content

.big-card {
	
	width: 90%;
	height: 120%;
	margin: auto;
	margin-top: 20%;
}

.homecontent {
    background-repeat:no-repeat;
    background-size:50% 90%;
}
  

.big-image {
	text-align: center;
    max-width: 90%;
    height: auto;
    width: auto; /* ie8 */
	border-radius: 10pt;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

.image {
	text-align: center;
    max-width: 90%;
    height: auto;
    width: auto; /* ie8 */
	border-radius: 10pt;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}