.cesto {
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;

    font-family: 'Solway-Medium';
    font-size: 18pt;
    color: #363636;
}

.total-items {

    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
    color: #363636;

}