// header

#header {
    display: flex;
    align-items: center;
    justify-content:left;
    margin-left: 8%;
    margin-top: 8%;

}

#cesto {
    text-align: left;
    margin-left: 5%;
    font-family: 'Solway-Medium';
    font-size: 18pt;
    color: #363636;
}

#total-items {

    text-align: center;
    padding-top: 2%;
    margin-left: 5%;
    color: #363636;
    border-radius: 50px;
    width: 40px;
    height: 24px;
    background-color: #F4ECE4;
    font-family: 'Nunito-Regular';

}

#total-box {
    display: flex; 
    flex-direction: column; 
    text-align: left; 
    margin-top: 5%; 
    margin-left: 20%;
}

#total {
    text-align: center;
    color: #363636;
    font-family: 'Nunito-Bold';
}

#total-info {
    color: #363636;
    font-family: 'Nunito-Medium';
    font-size: 12px;
}

hr {
    display: block;
    width: 80%;
    border-radius: 5px;
    border-top: 4px solid #F4ECE4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

// content

#bunny {
    display: block;
    margin: auto;
    height: 18%;
    margin-top: 30%;    
    
}

#bunny-title {
    text-align: center;
    font-family: 'Nunito-Bold';
    font-size: 14pt;
    color: #363636;
    margin-top: 5%;
}

#bunny-text{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nunito-Bold';
    font-size: 10pt;
    color: #363636;
    width: 70%;
    margin-top: 2%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



