// header

.cesto {
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;

    font-family: 'Solway-Medium';
    font-size: 18pt;
    color: #363636;
}

.total-items {

    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
    color: #363636;

}

// content

hr {
    display: block;
    width: 80%;
    border-radius: 5px;
    border-top: 4px solid #F4ECE4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.bunny {
    height: 20%;
    
}

.bunny-title {
    text-align: center;
    font-family: 'Nunito-Bold';
    font-size: 14pt;
    color: #363636;
}

.bunny-text{
    text-align: center;
    font-family: 'Nunito-Bold';
    font-size: 8pt;
    color: #363636;
    width: 60%;
}



