<ion-header class="ion-no-border">

  <ion-item lines="none">
    <ion-label id="cesto">Cesto</ion-label>
    <ion-badge id="total-items" color="light"> 0 </ion-badge>
  </ion-item>

 


</ion-header>

<ion-content [fullscreen]="true">

  <hr/>

  <img src="assets/icon/mad-bunny.png" id="bunny" />

  <div class="container">

    <h1 id="bunny-title">Ups! O cesto está vazio</h1>
    <p id="bunny-text">Adiciona primeiro um item ao cesto para prosseguires com a compra</p> 
  </div>
 


</ion-content>
