
<ion-content>

  <div id="header">

    <button id="back-button" onclick="history.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </button>

    <h1 id="header-title">Ajuda</h1>
  
  </div>

  <hr />

  <div id="ajuda">
    <h2 class="title">Em que podemos ajudar?</h2>

    <div class="ajuda-button">
      <h3 class="title">Sobre Nós</h3>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </div>

    <div class="ajuda-button">
      <h3 class="title">Perguntas Frequentes</h3>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </div>

    <div class="ajuda-button">
      <h3 class="title">Entregas e Devoluções</h3>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </div>
    
    <div class="ajuda-button">
      <h3 class="title">Guias de Tamanhos</h3>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </div>

    <div class="ajuda-button">
      <h3 class="title">Localizar Loja</h3>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </div>
   
    <div class="ajuda-button">
      <h3 class="title">Termos e Condições</h3>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </div>

    <div class="ajuda-button">
      <h3 class="title">Política de Privacidade</h3>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </div>
  
  </div>



  <hr />

  <div id="contactos">
    <h2 class="title">Contactos</h2>

    <div>
      <h3 class="title-contactos">Telefone</h3>
      <p class="contactos-text">(+351) 000 000 001</p>
    </div>
  
    <h4 class="contactos-subtitle">De segunda a sexta, das 10:00h às 17:00h.</h4>
  
    <div style="margin-bottom: 20px;">
      <h3 class="title-contactos">Email</h3>
      <p class="contactos-text">clienteonline@tugakidsclothes.pt</p>
    </div>
  </div>



</ion-content>
