// header

#header {
    padding: 2% 0;
    text-align: center;
    display: flex;
    margin-left: 10%;
}

#header-title {
    font-family: 'Solway-Medium';
    font-size: 18pt;
    color: #363636;
    margin-left: 15%;
}

#back-button {
    background: transparent;
    color: #363636;
    font-size: 20px;
    --box-shadow: none;
    width: 20%;
    margin-top: 4%;
}

hr {
    display: block;
    width: 80%;
    border-radius: 5px;
    border-top: 4px solid #F4ECE4;
    margin-left: auto;
    margin-right: auto;
}

#ajuda {
    width: 80%;
    margin: auto;
}

.title {
    font-family: 'Solway-Bold';
    font-size: 16px;
}

.ajuda-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    --background: white;
    border: 1px solid #676767;
    color: #363636;
    border-radius: 5px;
    --box-shadow: none;
    margin: 20px;
    padding: 0 20px;
    height: 40px;

}

#contactos {
    width: 80%;
    margin: auto;
}

.title {
    font-family: 'Solway-Bold';
    font-size: 14px;
    padding-bottom: 5px;
}

.title-contactos {
    font-family: 'Solway-Bold';
    font-size: 12px;
    margin-top: 20px;
}

.contactos-text {
    font-family: 'Nunito-Bold';
    font-size: 12px;
}

.contactos-subtitle {
    font-family: 'Nunito-Regular';
    font-size: 10px;
    color: #676767;
}
