// header

#header {
    padding: 2% 0;
    text-align: center;
    display: flex;
    margin-left: 10%;
}

#conta {
    font-family: 'Solway-Medium';
    font-size: 18pt;
    color: #363636;
    margin-left: 12%;
}

#back-button {
    background: transparent;
    color: #363636;
    font-size: 20px;
    --box-shadow: none;
    width: 20%;
    margin-top: 4%;
}

hr {
    display: block;
    width: 80%;
    border-radius: 5px;
    border-top: 4px solid #F4ECE4;
    margin-left: auto;
    margin-right: auto;
}

// --- body ---

#dados-pessoais {
    margin: 0 30px;
}

.info {
    font-family: 'Solway-Medium';
    font-size: 12pt;
    color: #363636;
}

.info-cliente {
    font-family: 'Nunito-Medium';
    font-size: 12pt;
    color: #363636;
    text-align: right;
}

h2 {
    font-family: 'Solway-Bold';
    font-size: 16pt;
    color: #363636;  
}