<ion-header class="ion-no-border">
  <ion-toolbar>

    <div item-content style="display: flex; justify-content: space-between; width: 100%">
      <ion-buttons>
        <ion-back-button text="" icon="chevron-back-outline" id="header-button"></ion-back-button>
      </ion-buttons>
      
      <ion-title id="conta" style="margin-left: auto; margin-right: 14%;">Conta</ion-title>
    </div>


  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="buttons">
    <ion-button class="button" color="pastelbeige">
      <ion-label>
          <h1>
              Conta
          </h1>
      </ion-label>
    </ion-button>
    
    <ion-button class="button" color="pastelbeige">
      <ion-label>
          <h1>
              Segurança
          </h1>
      </ion-label>
    </ion-button>
  
    <ion-button class="button" color="pastelbeige">
      <ion-label>
          <h1>
              Encomenda
          </h1>
      </ion-label>
    </ion-button>
  
    <ion-button class="button" color="pastelbeige">
      <ion-label>
          <h1>
              Devoluções
          </h1>
      </ion-label>
    </ion-button>
  
    <ion-button class="button" color="pastelbeige">
      <ion-label>
          <h1>
              Ajuda
          </h1>
      </ion-label>
    </ion-button>
  
    <ion-button class="button" color="pastelbeige">
      <ion-label>
          <h1>
              Definições
          </h1>
      </ion-label>
    </ion-button>
  </div>
  
  
</ion-content>
