<ion-content>

  <div id="header">

    <button id="back-button" onclick="history.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </button>

    <h1 id="conta">Conta</h1>
  
  </div>

  <hr />

  <div id="dados-pessoais">

    <div style="display: flex; align-items: center; gap: 20px;">
      <ion-icon name="person" style="margin-top: 6px; font-size: 20px;"></ion-icon>
      <h2>Dados Pessoais</h2>
    </div>


    <div style="display: flex; justify-content: space-between;">
      <h3 class="info">Nome</h3>
      <h3 class="info-cliente"> Aluno </h3>
    </div>
  
    <div style="display: flex; justify-content: space-between;">
      <h3 class="info">Apelido</h3>
      <h3 class="info-cliente"> EI </h3>
    </div>
  
    <div style="display: flex; justify-content: space-between;">
      <h3 class="info">Nome de Utilizador</h3>
      <h3 class="info-cliente"> aluno </h3>
    </div>
  
    <div style="display: flex; justify-content: space-between;">
      <h3 class="info">Email</h3>
      <h3 class="info-cliente"> alunoei@ipvc.pt </h3>
    </div>
  
    <div style="display: flex; justify-content: space-between;">
      <h3 class="info">Data de Nascimento</h3>
      <h3 class="info-cliente"> 01/01/2001 </h3>
    </div>
  
    <div style="display: flex; justify-content: space-between;">
      <h3 class="info">Contacto</h3>
      <h3 class="info-cliente"> (+351) 001 002 003 </h3>
    </div>
  </div>

  


</ion-content>