<ion-header class="ion-no-border">

  <ion-toolbar>

    <div item-content style="display: flex; justify-content: space-between; width: 100%">
      <ion-buttons>
        <ion-back-button text="" icon="chevron-back-outline" style="margin-left: 50%; "></ion-back-button>
      </ion-buttons>

        <ion-title style="margin-left: auto; margin-right: 14%;">
          Promoções
        </ion-title>

    </div>

      <p>
        Produtos a um preço mais baixo.
      </p>
  

  </ion-toolbar>

</ion-header>

<ion-content>


  <hr/>

  <ion-buttons>
    <ion-button>
      <ion-icon name="funnel-outline"></ion-icon>
      <p>Filtro</p>
    </ion-button>
    <ion-button>
      <ion-icon name="filter-outline"></ion-icon>
      <p>Ordenar</p>
    </ion-button>
  </ion-buttons>


</ion-content>
