

ion-title {
    text-align: center;
    font-family: 'Solway-Bold' !important;
    font-size: 20px;
    color: #363636;

    margin-top: 0%;
    margin-bottom: 7%;
}   

p {
    text-align: center;
    font-family: 'Nunito-Regular' !important;
    font-weight: 400;
    font-size: 14px;
}


hr {
    display: block;
    width: 80%;
    border-radius: 5px;
    border-top: 4px solid #F4ECE4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
}

ion-button {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 40px;
}

ion-icon {
    margin-right: 8px;
}