<ion-header class="ion-no-border" #header>
  <ion-toolbar>

    <div item-content style="display: flex; justify-content: space-between; width: 100%">
      <ion-buttons>
        <ion-back-button text="" icon="chevron-back-outline" style="margin-left: 50%; "></ion-back-button>
      </ion-buttons>

        <ion-title id="novidades" style="margin-left: auto; margin-right: 14%;">
          Novidades
        </ion-title>

    </div>

      <p>
        Novas adições à nossa coleção.
      </p>
  

  </ion-toolbar>
</ion-header>

<ion-content>

  <hr/>

  <ion-buttons>
    <ion-button>
      <ion-icon name="funnel-outline"></ion-icon>
      <p>Filtro</p>
    </ion-button>
    <ion-button>
      <ion-icon name="filter-outline"></ion-icon>
      <p>Ordenar</p>
    </ion-button>
  </ion-buttons>


  <div id="container">
    <ion-card class="card">
      <ion-card-content>
        <img src="./assets/img/clothes/bodysuit_navy.webp" />

        <ion-title class="title">Casaco</ion-title>
        <ion-card-subtitle class="color">Azul</ion-card-subtitle>
        <ion-card-subtitle class="price">20.00€</ion-card-subtitle>
  
        
      </ion-card-content>
    </ion-card>
  
    <ion-card class="card">
      <ion-card-content>
        <img src="./assets/img/baby.png" class="image" />

        <ion-title class="title">Casaco</ion-title>
        <ion-card-subtitle class="color">Azul</ion-card-subtitle>
        <ion-card-subtitle class="price">20.00€</ion-card-subtitle>
  
      </ion-card-content>
    </ion-card>

    <ion-card class="card">
  
      <ion-card-content>
        <img src="./assets/img/baby.png" class="image" />

        <ion-title class="title">Casaco</ion-title>
        <ion-card-subtitle class="color">Azul</ion-card-subtitle>
        <ion-card-subtitle class="price">20.00€</ion-card-subtitle>
  
      </ion-card-content>
    </ion-card>

    <ion-card class="card">
      <ion-card-content>
        <img src="./assets/img/baby.png" class="image" />

        <ion-title class="title">Casaco</ion-title>
        <ion-card-subtitle class="color">Azul</ion-card-subtitle>
        <ion-card-subtitle class="price">20.00€</ion-card-subtitle>
  
      </ion-card-content>
    </ion-card>
  </div>



</ion-content>
