#header {
    display: flex;
    align-items: center;
    height: 10%;
    margin-left: 11%;
}

#back-button {
    background: transparent;
    color: #363636;
    font-size: 20px;
    --box-shadow: none;
    width: 20%;
}

ion-title {
    font-family: 'Solway-Bold' !important;
    font-size: 20px;
    color: #363636;

}   

hr {
    display: block;
    width: 80%;
    border-radius: 5px;
    border-top: 4px solid #F4ECE4;
    margin-left: auto;
    margin-right: auto;
}

.label {
    // body
    text-align: left;
    margin-top: 8%;
    margin-left: 18%;

    // font
    font-family: 'Nunito-Bold';
    font-size: 12pt;
    color: #363636;
}

.input {

    // body
    --background: #F3E8DE;
    border: 2px solid #ede1d7;
    width: 75%;
    border-radius: 10pt;
    text-align: left;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

    // font
    font-family: 'Nunito-Bold';
}

.checkboxes {
    // body
    margin-top: 10px;
    margin-left: 8%;
    
}

.checkbox-label {
    // body
    margin-left: 5px;

    // font
    font-family: 'Nunito-Regular';
    font-size: 10pt;
    color: #363636;
}

.button {

    // body
    margin-bottom: 10%;
    --ripple-color: transparent;
    --border-radius: 10pt;

    // font
    font-family: 'Nunito-SemiBold';
    font-size: 10pt;
    width: 40%;
}


ion-toolbar {
    --background: transparent;
}