
#header {
    display: flex;
    align-items: center;
    height: 10%;
    margin-left: 11%;
}

#back-button {
    background: transparent;
    color: #363636;
    font-size: 20px;
    --box-shadow: none;
    width: 20%;
}

ion-title {
    font-family: 'Solway-Bold' !important;
    font-size: 20px;
    color: #363636;

}   

hr {
    display: block;
    width: 80%;
    border-radius: 5px;
    border-top: 4px solid #F4ECE4;
    margin-left: auto;
    margin-right: auto;
}

.label {
    text-align: left;
    margin-left: 10%;
    margin-bottom: 20px;
    font-family: 'Nunito-Bold';
    font-size: 12pt;
}

.input {

    // body
    background: #FFF7EF;
    border: 1px solid #F3E8DE;
    width: 90%;
    --padding-start: 10px;
    --padding-end: 10px;
    height: 40px;
    border-radius: 10px;
    text-align: left;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

    // font
    font-family: 'Nunito-Bold';
    
}

ion-item.item-has-focus > ion-label {
    color: black !important;
}

.checkboxes {
    // body
    margin-top: 10px;
    margin-left: 10%;
    --ripple-color: transparent;
    --background-checked: #676767;
    --border-color: #676767;
    --border-color-checked: #676767;
    
}

.checkbox-label {
    // body
    margin-left: 5px;

    // font
    font-family: 'Nunito-Regular';
    font-size: 10pt;
    color: #363636;
}

.button {
    margin: 10%;
    margin-left: auto;
    margin-right: auto;
    --background: #676767;
    --ripple-color: transparent;
    --border-radius: 10pt;
    font-family: 'Nunito-SemiBold';
    font-size: 10pt;
    width: 40%;
}


ion-toolbar {
    --background: transparent;
}

.toast {
    margin-bottom: 20px;
}

ion-item {
    margin: 20px 0;
}

.warning {
    font-family: 'Nunito-Medium';
    font-size: 12px;
    height: 20px;
    margin-left: 25px;
}