<ion-header class="ion-no-border">
  <ion-toolbar>

    <div item-content style="display: flex; justify-content: space-between; width: 100%">
      <ion-buttons>
        <ion-back-button text="" icon="chevron-back-outline" style="margin-left: 50%; "></ion-back-button>
      </ion-buttons>

        <ion-title style="margin-left: auto; margin-right: 14%;">
          Criar Conta
        </ion-title>

    </div>
  

  </ion-toolbar>
</ion-header>

<ion-content >

  <hr/>

  <p class="label">Nome</p>
  <ion-input class="input"></ion-input>

  <p class="label">Apelido</p>
  <ion-input class="input"></ion-input>

  <p class="label">Nome de Utilizador</p>
  <ion-input class="input"></ion-input>

  <p class="label">Email</p>
  <ion-input class="input"></ion-input>

  <p class="label">Password</p>
  <ion-input class="input"></ion-input>

</ion-content>
