

<ion-content fullscreen="true">

  <div id="header">

    
    <button id="back-button" onclick="history.back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </button>

  
    <ion-title >
      Criar Conta
    </ion-title>
  </div>



  <hr/>

  <p class="label">Nome</p>
  <ion-input class="input" required type="text"></ion-input>

  <p class="label">Apelido</p>
  <ion-input class="input" required type="text"></ion-input>

  <p class="label">Nome de Utilizador</p>
  <ion-input class="input"></ion-input>

  <p class="label">Email</p>
  <ion-input class="input"></ion-input>

  <p class="label">Password</p>
  <ion-input class="input"></ion-input>

  
  <ion-list lines="none">

    <ion-item class="checkboxes">
      <ion-checkbox color="lightgrey"></ion-checkbox>
      <ion-label class="checkbox-label">Subscrever a TugaKidsClothes newsletter</ion-label>
    </ion-item>

    <ion-item class="checkboxes">
      <ion-checkbox color="lightgrey"></ion-checkbox>
      <ion-label class="checkbox-label">Li e aceito a <u>Política de Privacidade</u></ion-label>
    </ion-item>
    
  </ion-list>

  <div style="text-align: center;">
    <ion-button class="button" color="lightgrey" routerLink="/tab5" routerDirection="forward">
        <p>Criar Conta</p> 

        <!-- Colocar dados input em ficheiro -->

    </ion-button>
  </div>



  

</ion-content>


