<ion-header class="ion-no-border">
  <ion-toolbar>

    <div item-content style="display: flex; justify-content: space-between; width: 100%">
      <ion-buttons>
        <ion-back-button text="" icon="arrow-back"></ion-back-button>
      </ion-buttons>

      <div style="margin-left: auto; margin-right: auto;">
        <ion-title>
          Novidades
        </ion-title>
      </div>


    </div>




  

    
      <p>
        Novas adições à nossa coleção.
      </p>
  


  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-buttons>
    <ion-back-button></ion-back-button>
  </ion-buttons>

  


  <hr/>

  <ion-buttons>
    <ion-button>
      <ion-icon name="funnel-outline"></ion-icon>
      <p>Filtro</p>
    </ion-button>
    <ion-button>
      <ion-icon name="filter-outline"></ion-icon>
      <p>Ordenar</p>
    </ion-button>
  </ion-buttons>


</ion-content>
