<ion-content>

    <!-- header -->

    <div id="header">

      <h1 id="header-title">Confirmação de Reserva</h1>
  
    </div>

    <hr />

    <div style="text-align: left; margin-left: 20%; margin-bottom: 30px;">

      <h2 class="title" style="margin-top: 10%; margin-bottom: 5px;">Reserva em Loja</h2>

      <div style="margin-left: 10%;"> 
        <p> Loja A </p>
        <p> Rua A, 1 </p>
        <p> Viana do Castelo </p>
        <p> 4900-001 </p>
      </div>

      <h2 class="title" style="margin-top: 10%; margin-bottom: 5px;">Dados</h2>

      <div style="margin-left: 10%;">
        <p> Aluno EI </p>
        <p> (+351) 001 002 003 </p>
      </div>

    </div>


    <hr />

    <div>

      <h2 class="title">Prazo Limite da Reserva</h2>

      <h3 id="reserva-data"><u> 10 de junho de 2022 </u></h3>

    </div>

    <hr />
    
    <div>

      <img src="assets/icon/bunny.png" style="margin-top: 20px;"/>

      <h2 class="title">Obrigado pela Reserva!</h2>

      <p>Mais informações sobre a reserva em:</p>

      <div style="display: flex; align-items: center; gap: 10px; justify-content: center;">
        <ion-icon name="person-outline"></ion-icon>
        <p> > </p>
        <p><u>Reservas</u></p>
      </div>

    </div>

    <ion-button class="general-button" routerLink="/tabs">Página Principal</ion-button>

</ion-content>
