// -- header

ion-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#header {
    text-align: center;
    padding: 8px;
}

#back-button {
    background: transparent;
    color: #363636;
    font-size: 20px;
    --box-shadow: none;
    width: 20%;
    padding-top: 15px;
}


#header-title {
    font-family: 'Solway-Bold';
    font-size: 20px;
    color: #363636;
}

hr {
    display: block;
    width: 80%;
    border-radius: 5px;
    border-top: 4px solid #F4ECE4;
    margin-left: auto;
    margin-right: auto;
}

// --- body ---

.title {
    font-family: 'Solway-Bold';
    font-size: 18px;
    color: #363636;
}

#reserva-data {
    font-family: 'Solway-Regular'; 
    font-size: 16px;
    padding: 10px;
}

p {
    font-family: 'Nunito-Medium'; 
    font-size: 14px;
}

.general-button {
    --background: #676767;
    --border-radius: 10px;
    font-family: 'Nunito-Medium';
    margin-top: 10px;
    margin-bottom: 20px;
}
