/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/** FONTS **/

@font-face {
	font-family: 'Solway-Regular';
	src: url('/assets/fonts/Solway-Regular.ttf');
}

@font-face {
	font-family: 'Solway-Medium';
	src: url('/assets/fonts/Solway-Medium.ttf');
}

@font-face {
	font-family: 'Solway-Bold';
	src: url('/assets/fonts/Solway-Bold.ttf');
}

@font-face {
	font-family: 'Nunito-Regular';
	src: url('/assets/fonts/Nunito-Regular.ttf');
}

@font-face {
	font-family: 'Nunito-SemiBold';
	src: url('/assets/fonts/Nunito-SemiBold.ttf');
}

@font-face {
	font-family: 'Nunito-Bold';
	src: url('/assets/fonts/Nunito-Bold.ttf');
}



/** COLORS **/

.ion-color-pastelbeige {
	--ion-color-base: var(--ion-color-pastelbeige);
	--ion-color-base-rgb: var(--ion-color-pastelbeige-rgb);
	--ion-color-contrast: var(--ion-color-pastelbeige-contrast);
	--ion-color-contrast-rgb: var(--ion-color-pastelbeige-contrast-rgb);
	--ion-color-shade: var(--ion-color-pastelbeige-shade);
	--ion-color-tint: var(--ion-color-pastelbeige-tint);
}

.ion-color-brown {
	--ion-color-base: var(--ion-color-brown);
	--ion-color-base-rgb: var(--ion-color-brown-rgb);
	--ion-color-contrast: var(--ion-color-brown-contrast);
	--ion-color-contrast-rgb: var(--ion-color-brown-contrast-rgb);
	--ion-color-shade: var(--ion-color-brown-shade);
	--ion-color-tint: var(--ion-color-brown-tint);
}

.searchbar-input.sc-ion-searchbar-md {
	border-radius: 10pt;
	background-position: left 8px center;
	height: auto;	
	font-size: 12pt;
	font-family: 'Nunito-Bold' !important;
	font-weight: 600;
	color: #5e5855;
	background-color: white;
	-webkit-box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1) !important;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;

  }

  ion-button {
	text-transform: none;
   }